<div class="container transparent marge">


    <div>



      <span class="labelText">choose Your plateform:</span>
      <p-selectButton multiple="multiple" [options]="platformItemList"
                      [(ngModel)]="req['selectedPlatformList']"></p-selectButton>
      <div *ngFor="let parameterKey of req['selectedPlatformList'] | uniqueKeys">

          <div *ngIf="parameterKey.value==='String'">

            <label>{{parameterKey.key}}</label> : <input type="text" [name]="parameterKey.key"
                                                         [(ngModel)]="req[parameterKey.key]"
                                                         [placeholder]="parameterKey.key" >

          </div>
        <div *ngIf="parameterKey.value==='Date'">
          <my-date-picker [options]="myDatePickerOptions"
                          [(ngModel)]="req[parameterKey.key]"
                          (dateChanged)="onDateChanged($event)">
          </my-date-picker>
        </div>


          <!--  <select  name="parametres" class="c-form-profession form-control" id="parametres"  >
          <option value="{{platform.params[parameterKey]}}" ></option>

        </select>!-->

      </div>
      <p-calendar [utc]="true" [(ngModel)]="req['startDate']"></p-calendar>
      <p-calendar [utc]="true" [(ngModel)]="req['endDate']"></p-calendar>

      <pre>{{req|json}}</pre>



      <div >

      </div>
      <div >

      </div>


      <button type="submit" icon="fa fa-fw fa-check"   label="START">START</button>


    </div>


</div>
