<!doctype html>
<html lang="en">



<body>
<div ng-app="sample">
  <form class="form-horizontal" name="registerForm">
    <div class="form-group">
      <label class="col-md-3 control-label" for="Email">userName</label>
      <div class="col-md-4">
        <input id="Email" type="email" class="form-control" name="Email" ng-model="Email" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label" for="Password">correlationId</label>
      <div class="col-md-4">
        <input id="Password" type="password" class="form-control" name="Password" ng-model="Password" />
      </div>
    </div>
    <fieldset>
      <legend>Choose your plateforme</legend>
      <div>
        <input type="checkbox" id="coding" name="interest" value="coding">
        <label for="coding">cpr</label>
      </div>
      <div>
        <input type="checkbox" id="music" name="interest" value="music">
        <label for="music">Mu</label>
      </div>
    </fieldset>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <input type="submit" class="btn btn-default" value="search" />
      </div>
    </div>

  </form>


</div>
</body>
</html>
