<!doctype html>
<html lang="en">




<body>
<div ng-app="sample">
  <form class="form-horizontal" name="registerForm">
    <div class="form-group">
      <div class="col-md-4">
      <label class="col-md-3 control-label" for="correlationID">Correlation Id</label>

        <input id="correlationID" type="correlationID" class="form-control" name="correlationID" [(ngModel)]="correlationID" />

        <label class="col-md-3 control-label" for="userName">Username</label>

        <input id="userName" type="userName" class="form-control" name="userName" [(ngModel)]="userName" />



        <input type="submit" class="btn btn-default" (click)="getResult()" value="search" />
      </div>
    </div>



  </form>


</div>
<div>
  <ul *ngFor=" let id of ids ">
    <li   > Id : {{ id.id}}</li>
    <li>ResponseRequest :{{id.responseRequest}}</li>

  </ul>
</div>


</body>
</html>





