<!doctype html>
<html lang="en">




<body>
<div ng-app="sample">
  <form class="form-horizontal" name="registerForm">
    <div class="form-group">
      <div class="col-md-4">
      <label class="col-md-3 control-label" for="correlationID">Correlation Id</label>

        <input id="correlationID" type="correlationID" class="form-control" name="correlationID" [(ngModel)]="correlationID" />

        <label class="col-md-3 control-label" for="userName">Username</label>

        <input id="userName" type="userName" class="form-control" name="userName" [(ngModel)]="userName" />



        <input type="submit" class="btn btn-default" (click)="getResult()" value="search" />
      </div>
    </div>



  </form>



</div>
<!--<div>
  <ul *ngFor="let r of requests; let i=index" >
    <li>Status : {{ r.status}}</li>
    <li>RequestTime : {{ r.requestTime | date:'yyyy-MM-dd HH:mm a z':'+0100'}}</li>


  </ul>
</div>-->

<div>
  <h3>Results</h3>
  <p-table [columns]="cols" [value]="requests" dataKey="vin">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 2.25em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
      <tr  *ngFor="let r of requests" [pSelectableRow]="rowData">
        <td>
          <a href="#" [pRowToggler]="rowData">
            <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
          </a>
        </td>
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td >
          {{ r.status}}
        </td>
        <td >
          {{r.requestTime | date:'yyyy-MM-dd HH:mm a z':'+0100'}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns" class="nothing">
      <tr *ngFor="let r of requests">
        <td [attr.colspan]="columns.length + 1">
          <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
            <div class="ui-g-12 ui-md-9">
              <div class="ui-g">
                <div class="ui-g-12">
                  <b>:ResponseContent</b>  {{ r.requestContent}}
                </div>
                <div class="ui-g-12">
                  <b>UserName:</b> {{ r.userName}}
                </div>
                <div class="ui-g-12">
                  <b>Brand:</b> {{r.requestURL}}
                </div>

              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>
</body>
</html>





